{% extends 'FrontOffice/baseAhmed/base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
    <h1>Appointment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Status</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.status }}</td>
                <td>{{ appointment.startDate ? appointment.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.endDate ? appointment.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_app_appointment_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('user_app_appointment_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_app_appointment_new') }}">Create new</a>
{% endblock %}
