{% extends 'FrontOffice/baseAhmed/base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ appointment.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ appointment.status }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ appointment.startDate ? appointment.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ appointment.endDate ? appointment.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_app_appointment_') }}">back to list</a>

    <a href="{{ path('user_app_appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('FrontOffice/appointment/_delete_form.html.twig') }}
{% endblock %}
