<div class="card-body">
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
        {% for field in form %}
        <div class="mb-3">
            {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(field, {'attr': {'class': 'invalid-feedback'}}) }}
        </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn rounded-pill btn-outline-primary">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</div>