{% extends 'newbase.html.twig' %}

{% block title %}<title>Prescription Details</title>{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="mb-0">Prescription Details</h4>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Prescription</th>
                                <td>{{ prescription.duration }}</td>
                            </tr>
                            <tr>
                                <th>Creation Date</th>
                                <td>{{ prescription.creationDate|date('Y-m-d') }}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{{ path('user_prescription_index') }}" class="btn btn-outline-primary">Back to list</a>
                        <a href="{{ path('send_prescription', {'id': prescription.id}) }}" class="btn btn-outline-primary">Send Prescription</a>
                        <a href="{{ path('user_map') }}" class="btn btn-outline-primary">Check Map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
