{# {{ form_start(form) }}
    {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
    {{ form_widget(form.subject,{'attr':{'class':'form-control'}}) }}
    {{ form_widget(form.image,{'attr':{'class':'form-control'}}) }}
    {{ form_widget(form.content,{'attr':{'class':'form-control'}}) }}
    {{ form_widget(form.submissionDate,{'attr':{'class':'form-control'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.subject) }}
    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.image) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'style': 'height: 100px;'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.submissionDate) }}
    {{ form_widget(form.submissionDate, {'attr': {'class': 'form-control'}}) }}
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}