{% extends 'BaseBack.html.twig' %}

{% block title %}<title>Edit DiagnosticRequest</title>{% endblock %}

{% block body %}
    <h1>Edit DiagnosticRequest</h1>
    <div class="main">
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
             
             <br><br>
             <hr class="divider-w mt-10 mb-20">
                     {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

             {% for fieldName in ['type', 'analyseType', 'radioType', 'doctorNotes', 'status', 'creationDate'] %}
              {% set currentField = form[fieldName] %}
              <div class="form-group">
                <label for="{{ currentField.vars.id }}">{{ currentField.vars.label }}</label>
                {{ form_widget(currentField, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(currentField) }}
                
               
              </div>
               {% endfor %}

              <button class="btn btn-primary">Update</button>
               {{ form_end(form) }}

             {#} {{ include('diagnostic_request/_form.html.twig', {'button_label': 'Update'}) }}{#}
 
            </div>
        </div>
      </div>
    </section>
 </div>

    <a href="{{ path('app_diagnostic_request_index2') }}">back to list</a>

    {{ include('diagnostic_request/_delete_form.html.twig') }}
    

   


{#<div class="main">
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h1 style="color: #011663; text-align: center; font-style: italic;">Edit DiagnosticRequest</h1>
          <br><br>
          <hr class="divider-w mt-10 mb-20">
          
          {{ include('diagnostic_request/_form.html.twig', {'button_label': 'Update'}) }}

          <a href="{{ path('app_diagnostic_request_index2') }}" class="btn btn-primary">Submit</a>

          <a href="{{ path('app_diagnostic_request_index2') }}" class="back-to-list-link">
            <span style="font-size: 1.5em; color: #3498db;">&#9665;</span> Back to list
          </a>

          {{ include('diagnostic_request/_delete_form.html.twig') }}
        </div>
      </div>
    </div>
  </section>
</div>
#}
{% endblock %}



