{% extends 'newbase.html.twig' %}

{% block title %}Medical Record{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Medical Record Details</h1>

 
 
        </div>
        <div class="card-body">
            <h5 class="card-title">Record n°{{ medical_record.id }}</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Patient Name</th>
                            <td>{{ medical_record.patientName }}</td>
                        </tr>                      
                        <tr>
                            <th scope="row">Medical History</th>
                            <td>{{ medical_record.medicalHistory }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Surgical History</th>
                            <td>{{ medical_record.surgicalHistory }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Family History</th>
                            <td>{{ medical_record.familyHistory }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Allergies</th>
                            <td>{{ medical_record.allergies }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Height</th>
                            <td>{{ medical_record.height }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Weight</th>
                            <td>{{ medical_record.weight }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Blood Type</th>
                            <td>{{ medical_record.bloodType }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Diseases</th>
                            <td>{{ medical_record.diseases }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Medications</th>
                            <td>{{ medical_record.medications }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Vaccines</th>
                            <td>{{ medical_record.vaccines }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('user_medical_record_index') }}" class="btn btn-secondary">Back to List</a>
            <div>
                <a href="{{ path('user_medical_record_edit', {'id': medical_record.id}) }}" class="btn btn-primary">Edit</a>
                {{ include('FrontOffice/medical_record/_delete_form.html.twig') }}
            </div>
        
  
</div>
{% endblock %}
