{% extends 'crud.html.twig' %}

{% block notif %}

        <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="bx bx-bell bx-sm"></i>
            <span class="badge bg-danger rounded-pill badge-notifications">5</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end py-0">
            <li class="dropdown-menu-header border-bottom">
              <div class="dropdown-header d-flex align-items-center py-3">
                <h5 class="text-body mb-0 me-auto">Notification</h5>
                <a href="javascript:void(0)" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark all as read"><i class="bx fs-4 bx-envelope-open"></i></a>
              </div>
            </li>
            {# notifications begins here #}
            {% for notif in notifications %}
            <li class="dropdown-notifications-list scrollable-container">
              <ul class="list-group list-group-flush"> 
                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <div class="avatar">
                        <span class="avatar-initial rounded-circle bg-label-success"><i class='bx bx-user'></i></span>
                      </div>
                    </div>
                    <div class="flex-grow-1">
                      <h6 class="mb-1">{{notif.title}}  </h6>
                      <p class="mb-0">{{notif.message}}</p>
                      <small class="text-muted">created at {{notif.creation_date|date('Y-m-d H:i:s')}}</small>
                    </div>
                    <div class="flex-shrink-0 dropdown-notifications-actions">
                      <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                      <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            {% endfor %}
            {# notifications ends here #}
            <li class="dropdown-menu-footer border-top p-3">
              <button class="btn btn-primary text-uppercase w-100">view all notifications</button>
            </li>
          </ul>
        </li>

{% endblock %}

{% block user %}
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <img src="{{asset('back/assets/img/avatars/1.png')}}" alt class="w-px-40 h-auto rounded-circle">
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="../../pages/profile-user.html">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img src="{{asset('back/assets/img/avatars/1.png')}}" alt class="w-px-40 h-auto rounded-circle">
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-medium d-block">
                                            {{app.user.firstname}} {{app.user.lastName}}
                                          </span>
                    <small class="text-muted">Admin</small>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="../../pages/profile-user.html">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
              </a>
            </li>
                        <li>
              <a class="dropdown-item" href="../../pages/account-settings-billing.html">
                <span class="d-flex align-items-center align-middle">
                  <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                  <span class="flex-grow-1 align-middle">Billing</span>
                  <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                </span>
              </a>
            </li>
                          <li>
                <div class="dropdown-divider"></div>
              </li>
                            <li>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                  <i class='bx bx-log-in me-2'></i>
                  <span class="align-middle">Logout</span>
                </a>
              </li>
                          </ul>
          </li>

{% endblock %}

{% block table %}

    <table class="datatables-users table border-top">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>PhoneNumber</th>
                <th>Inscription</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                
                {% if user.roles is defined and 'ROLE_PATIENT' in user.roles %}
                   <td class=""> <span class="badge bg-label-primary me-1">Patient</span>
                {% elseif user.roles is defined and 'ROLE_DOCTOR' in user.roles %}
                   <td><span class="badge bg-label-success me-1">Doctor</span>
                {% elseif user.roles is defined and 'ROLE_PHARMACY' in user.roles %}
                   <td><span class="badge bg-label-info me-1">Pharmacy</span>
                {% elseif user.roles is defined and 'ROLE_RADIOLOGY' in user.roles %}
                   <td><span class="badge bg-label-warning me-1"> Radiology</span>
                {% elseif user.roles is defined and 'ROLE_LAB' in user.roles %}
                   <td> <span class="badge bg-label-warning me-1">Laboratory</span>
                {% else %}
                   <td> No specific role
                {% endif %}
                </td>
                <td>{{ user.phoneNumber }}</td>
                {# <td>{{ user.gender ? 'Yes' : 'No' }}</td> #}
                <td>{{ user.inscriptionDate ? user.inscriptionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{% if user.isbanned %}{% else %}锔{% endif %}</td>
                <td>
                    <div class="d-inline-block text-nowrap">
                        <button class="btn btn-sm btn-icon"><a href="{{ path('app_user_show', {'id': user.id}) }}"><i class="bx bx-show-alt"></i></a></button>
                        <button class="btn btn-sm btn-icon"><a href="{{ path('admin_ban_user', {'id': user.id}) }}"><i class='bx bxs-user-x'></i></a></button>
                        <button class="btn btn-sm btn-icon"><a href="{{ path('admin_unban_user', {'id': user.id}) }}"><i class='bx bxs-user-plus'></i></a></button>                    
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block body %}

    {{ form_start(form,{'attr': {'class': 'add-new-user pt-0','novalidate':'novalidate'}}) }}
        <div class="mb-3">
          <label class="form-label">First Name</label>
          {# <input type="text" class="form-control" id="add-user-fullname" placeholder="John Doe" name="userFullname" aria-label="John Doe" /> #}
          {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'John'} }) }}                         
        </div>
        <div class="mb-3">
          <label class="form-label">Last Name</label>
          {# <input type="text" id="add-user-email" class="form-control" placeholder="john.doe@example.com" aria-label="john.doe@example.com" name="userEmail" /> #}
          {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Doe'} }) }}
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          {# <input type="text" id="add-user-contact" class="form-control phone-mask" placeholder="+1 (609) 988-44-11" aria-label="john.doe@example.com" name="userContact" /> #}
          {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'john.doe@gmail.com'} }) }}                                 
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          {# <input type="text" id="add-user-company" class="form-control" placeholder="Web Developer" aria-label="jdoe1" name="companyName" /> #}
          {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'placeholder': '路路路路路路路路路路路路'} }) }}                                 
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          {# <input type="text" id="add-user-company" class="form-control" placeholder="Web Developer" aria-label="jdoe1" name="companyName" /> #}
          {{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control', 'placeholder': '98 765 245'} }) }}                                 
        </div>
        <div class="mb-3">
            {{ form_label(form.roles, 'Roles', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.roles, {'attr': {'class': 'form-select', 'multiple': 'multiple', 'aria-label': 'multiple select example'}}) }}
        </div>


        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
    {{ form_end(form) }}

{% endblock %}
